<h1>Welcome Superstore Shopper!</h1>
<hr/>
<h2>Choose a Department</h2>
<%= link_to 'Create a new department', new_department_path %>
<ul>
  <% @departments.each do |department| %>
    <li><%= link_to department.name, department %></li>
  <% end %>
</ul>